<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="ecoreAnnotation.design.Activator"
               id="ecoreAnnotation.design"
	       name="extendEcore">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="ecoreAnnotation.externalActions.ImportAndCopyEClassJavaAction"
           id="ecoreAnnotation.externalActions.importAndCopyEClassJavaAction">
     </javaActions>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="ecoreAnnotation.externalActions.CopyRequiredProperties"
           id="ecoreAnnotation.externalActions.copyRequiredProperties">
     </javaActions>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="ecoreAnnotation.externalActions.CopyClassIsA"
           id="ecoreAnnotation.externalActions.CopyClassIsA">
     </javaActions>
  </extension>
</plugin>
