<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="ecoreAnnotation.design.Activator"
               id="ecoreAnnotation.design"
	       name="extendEcore">
    </component>
  </extension>
</plugin>
