<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ecoreAnnotation -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ecoreAnnotation.presentation.EcoreAnnotationModelWizardID"
            name="%_UI_EcoreAnnotationModelWizard_label"
            class="ecoreAnnotation.presentation.EcoreAnnotationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EcoreAnnotationModelFile.gif">
         <description>%_UI_EcoreAnnotationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            class="ecoreAnnotation.presentation.EcoreAnnotationProjectIWizard"
            icon="icons/full/obj16/EcoreAnnotationProject.gif"
            id="ecoreAnnotation.editor.ecoreAnnotationWizard"
            name="EcoreAnnotation Project Wizard">
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ecoreAnnotation -->
      <editor
            id="ecoreAnnotation.presentation.EcoreAnnotationEditorID"
            name="%_UI_EcoreAnnotationEditor_label"
            icon="icons/full/obj16/EcoreAnnotationModelFile.gif"
            extensions="ecoreannotation"
            class="ecoreAnnotation.presentation.EcoreAnnotationEditor"
            contributorClass="ecoreAnnotation.presentation.EcoreAnnotationActionBarContributor">
      </editor>
   </extension>
   <extension
         id="ecoreAnnotationNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ecoreAnnotation.presentation.EcoreAnnotationNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/obj16/EcoreAnnotationProject.gif"
            id="ecoreAnnotation.editor.ecoreAnnotationNatureImage"
            natureId="ecoreAnnotation.editor.ecoreAnnotationNature">
      </image>
   </extension>

</plugin>
